body {
    background-color: #eaf2e3;
    color: #333;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

.p1 {
    text-align: center;
    font-weight: bold;    
    font-style: italic;
    color: #4caf50; 
}

.p2 {
    text-align: center;
}

header {
    background-color: #69bd45;
    color: #fff;
    text-align: center;
    padding: 20px;
    }

section {
    padding: 20px;
    }
    
footer {
    background-color: #4caf50;
    color: #fff;
    padding: 20px 0; 
    }

.footer-content {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    }

.social-media-logos {
        justify-content: center;
        display: flex;
        gap: 20px;
}
    
.social-logo {
        width: 50px;
        height: 50px;
        transition: transform 0.3s ease, box-shadow 0.3s ease;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    }

nav ul li {
    display: inline-block;
    margin-right: 20px;
    }

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    }

nav ul li a:hover {
    color: red;
    text-decoration: underline;
    background-color: #2f8247;
    }

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    border: 3px solid #69bd45;
    border-radius: 10px;
    }

#carouselExampleIndicators {
        width: 80%;
        max-width: 500px;
        margin: auto;
    }
    
    
#carouselExampleIndicators .carousel-inner img {
        width: 100%;
        height: auto;
    }
    